.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.2;
  padding-left: 10px;
  padding-right: 11px;
  min-width: 232px;
  height: 100vh;
  color: rgb(255, 255, 255);
  background-color: #6868e1;
}

  .sidebar__title {
  margin-left: 11px;
  padding: 7px;
  font-size: 14px;
}  

.sidebar__logo {
  margin-right: auto;
  object-fit: contain;
  height: 7px;
  padding: 18px;
}
