.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.2;
  padding-left: 10px;
  padding-right: 11px;
  min-width: 232px;
  height: 100vh;
  color: hsl(244, 22%, 76%)
  background-color:677419; 
}

  

.sidebar__title {
  margin-left: 20px;
  padding: 7px; 
  
  font-size: 19p
}  

.sidebar__logo {
  margin-right: auto;
  object-fit: contain;
  height: 8px;
  padding: 15px;
}
