.sidebarOption {
  display: flex;
  cursor: pointer;
  align-items: center;
  height: 40px;
  color: #b61212;
  transition: 200ms color ease-in;
}

.sidebarOption:hover {
  color: rgb(48, 30, 30);
}

.sidebar > hr {
  border: 1px solid #ad4848;
  
  width: 90%;
  margin: 10px auto;
}

.sidebarOption__icon {
  padding-left: 10px;
  padding-right: 10px;
}

.sidebarOption > p {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 14px;
}
