.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.2;
  padding-left: 10px;
  padding-right: 11px;
  min-width: 232px;
  height: 100vh;
  color: white;
  background-color: #040408;
}

  .sidebar__title {
  margin-left: 11px;
  padding: 8px;
  font-size: 14px;
}  

.sidebar__logo {
  margin-right: auto;
  object-fit: contain;
  height: 70px;
  padding: 12px;
}
