.sidebarOption {
  display: flex;
  cursor: pointer;
  align-items: center;
  height: 40px;
  color: rgb(169, 150, 150);
  transition: 200ms color ease-in;
}

.sidebarOption:hover {
  color: rgb(190, 181, 181);
}

.sidebar > hr {
  border: 1px solid #675f5f;
  width: 90%;
  margin: 10px auto;
}

.sidebarOption__icon {
  padding-left: 10px;
  padding-right: 10px;
}

.sidebarOption > p {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 14px;
}
